.archive-post {
  	&-horizontal {
  		display: block;
	    margin-bottom: 30px;
		border-bottom: 1px solid #DDD;
		padding-bottom: 30px;
		position: relative;
		text-align: left;
		@media screen and (max-width: $break-tablet) {
			box-shadow: 0 2px 5px rgba(0,0,0,0.1);
			padding-bottom: 0;
			margin-bottom: 20px;
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			background: #FFF;
			border: 0;
		}

		&__post-title {
		    font: 22px/26px $secondary-font-family;
		    text-transform: capitalize;
		    line-height: 32px;
		    margin: 0 0 15px;
		    border: 0;
		    a {
		    	color: #3f3f3f;
				display: inline-block;		    	
		    }
		    @media screen and (max-width: $break-tablet) {
				font-size: 16px;
				margin: 0;
				line-height: 18px;		    	
				padding-top: 10px;
				padding-right: 10px;
				max-height: 64px;
				overflow: hidden;
		    }
		}
		&__post-excerpt {
			font-family: $secondary-font-family;
			font-style: italic;
			height: 30px;
			overflow: hidden;
			margin: 0 0 15px;	
			color: #999;	
			@media screen and (max-width: $break-tablet) {
				font-family: sans-serif;
				font-size: 10px;
				font-weight: bold;
				text-transform: uppercase;
				color: #999;
				margin: 0;
				font-style: normal;
				display: none;				
			}
			&--sponsored {
				margin-bottom: 0;
			}
		}
		&__author {
			font-size: 12px;
			color: #999;
			a {
				color: #999;
			}
			@media screen and (max-width: $break-tablet) {
				display: none;
			}			
		}
		&__date {
			font-size: 12px;
			color: #999;
			margin-left: 15px;
			padding-left: 15px;
			border-left: 1px solid #BBB;		
			@media screen and (max-width: $break-tablet) {
				display: none;
			}				
		}
	    &__thumbnail {
			float: left;
			width: 45%;
			@media screen and (max-width: $break-tablet) {
				width: 40%;
				float: left;
				margin-right: 5%;
		    }
	    }

	    &__info {
			float: right;
			width: 50%;
			margin-top: 40px;
			@media screen and (max-width: $break-tablet) {
				width: 55%;
				float: left;
				margin-top: 0;
		    }			
		}
		&__category-label {
			position: absolute;
			left: 0;
			top: 0;
			font-family: $primary-font-family;
			font-style: normal;
			background: $primary-color;
			color: #FFF;
			line-height: 1;
			margin: 10px;
			text-transform: uppercase;
			height: auto;
			font-weight: bold;
			letter-spacing: 1px;	
			@include button-hover($primary-color);			
			@media screen and (max-width: $break-tablet) {
				background: transparent;
				position: relative;
				color: #FFF;
				text-transform: uppercase;
				height: auto;
				font-weight: bold;
				letter-spacing: 1px;
				margin: 8px 0 0;
				float: left;
				left: 0;
				width: 55%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}	
		&__category-link {
			color: #FFF;
			line-height: 1;
			display: block;
			font-size: 8px;
			padding: 8px 10px 6px;
			@media screen and (max-width: $break-tablet) {
				color: #999;
				line-height: 1;
				display: block;
				font-size: 10px;
				letter-spacing: 0;
				padding: 0 15px 0 0;
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;				
			}
		}
		&__sponsor-link {
			margin-bottom: 10px;
			display: block;
			@media screen and (max-width: $break-tablet) {
				display: none;
			}
			img {
				max-width: 150px;
				max-height: 40px;
				display: inline-block;
				@media screen and (max-width: $break-tablet) {
					display: none;
				}				
			}
		}			
	}
}

