.post-template-template-featured {
  .latest-posts-infinite {
    text-align: inherit;
  }

  .container-sm {
    width: 100%;
    max-width: none;
  }

  .calls-to-action__main, .main {
    width: 100%;
    float: none;
    margin-left: 0;
    max-width: none;
  }
}

.feature {
  &__hero {
    margin: 0 auto 15px;

    &--caption {
      margin-bottom: 0;
    }

    &-image {
      width: 100vw;
      // 5:3 aspect ratio
      max-height: calc(100vw / 1.66);
      overflow: hidden;

      @media (min-width: $break-small) {
        max-height: none;
        // 5:2 aspect ratio
        height: calc(100vw / 2.5);
      }

      img {
        width: 100%;
      }
    }


    .article__rail-ad {
      top: 0;

      &.sticky-bottom {
        top: unset;
        bottom: 0;
      }
    }
  }

  &__header {
    margin: 0 28px 30px;
    max-width: 600px;
    text-align: center;

    @media (min-width: $break-small) {
      margin: 0 auto 30px;

      .article__facebook-share:not(.article__facebook-share--footer) {
        margin-bottom: 0;
      }
    }
  }
}
