.sitemap {

  h4 {
    color: $fth-black;
    @include freight(22px, 30px);
  }

  &.archive-latest {
    max-width: 1000px;
    margin: 0 auto;

    @media (max-width: $break-1000) {
      margin: 0 20px;
    }
  }

  &__title {
    max-width: 1000px;
    @include marr-sans(44px);

    span {
      float: right;
      @media (max-width: $break-tablet) {
        float: none;
        display: block;
      }
    }
  }

  &__listing {
    ul {
      margin-left: 20px;
    }
    &-item {
      width: 100%;
      color: $fth-black;
      @include freight(22px, 30px);
      list-style-position: inside;

      a {
        max-width: 65%;
        display: inline-block;
        color: $fth-black;
        cursor: pointer;
        opacity: 1;

        @media (max-width: $break-ads) {
          width: 100%;
          display: inline;
        }

        &:hover {
          color: $fth-red;
        }
      }

      strong {
        float: right;
        color: $dark-gray-50;
        @media (max-width: $break-ads) {
          float: none;
          display: block;
        }
      }
    }
  }
}
