body.single-sweepstakes {
  background-image: initial;
  background-color: #FFF;
  background-size: 100%;
  background-position: 0 50px;
  background-repeat: no-repeat;
  @media screen and (max-width: $break-tablet) {
    background-size: cover;
    background-position: center 0px;
  }

  #content {
    padding-top: 0;

    @media(max-width: $break-1000) {
      padding-top: 55px;
    }
  }

  .sweepstakes__page {
    max-width: 100%;
    padding: 0;
    margin-top: 0;
    @media screen and (max-width: $break-tablet) {
      max-width: 100%;
      padding: 0;
      width: 100%;
      margin: 0;
    }
    &__form {
      margin-top: 2rem;
    }
  }
  .sweepstakes {
    &__cover-image {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 0;
      display: block;
      overflow-y: hidden;
      max-height: 400px;
      @media screen and (max-width: $break-tablet) {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;
      }
      img {
        width: 100%;
      }
    }
    &__sponsor-logos {

    }
    &__sponsor-list {
      list-style: none;
      margin: 0;
      text-align: center;
    }
    &__sponsor-item {
      padding: 20px;
      width: 170px;
      margin: 0 20px;
      display: inline-block;
      @media screen and (max-width: $break-tablet) {
        padding: 10px;
        width: 100px;
        margin: 0 10px;
        display: inline-block;
      }
      &--small {
        width: 70px;
        padding: 10px;
        margin: 0 20px;
        @media screen and (max-width: $break-tablet) {
          width: 50px;
          padding: 10px;
          margin: 0 20px;
        }
      }
    }
    .sweepstakes__dojomojo-embed {
      position: relative;
      min-height: 1220px;
      iframe {
        position: absolute;
        display: block;
      }

      @media(max-width: $break-1000) {
        min-height: 1370px;
      }

      @media(max-width: $break-small) {
        min-height: 1860px;
      }
    }

    &__fineprint {
      font-size: 10px;
      font-weight: bold;
      line-height: 21px;
      text-align: center;
      padding: 0 30px;
    }
    &__copy {
      text-align: center;
      font-size: 1rem;
      line-height: 22px;
      max-width: 70%;
      font-weight: 400;
      margin: 0 auto;
      padding: 0px 20px 10px;
      @media screen and (max-width: $break-tablet) {
        max-width: 96%;
        font-size: 12px;
        padding: 10px 20px 10px;
      }
    }
    &__footer-image {
      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
        width: 600px;
      }
    }
  }
  .login-custom__title {
    @include marr-sans(28px);
    text-transform: uppercase;
    padding-top: 30px;
    position: absolute;
    top: 125px;
    width: 100%;
    text-align: center;
    color: $white;
    border-bottom: 0px;
    .drop-title {
      display: block;
      font-size: 44px;
      @media screen and (max-width: $break-tablet) {
        display: block;
        font-size: 24px;
      }
    }
    @media screen and (max-width: $break-tablet) {
      font-size: 20px;
      top: 90px;
    }
  }

  .site-footer {
    margin-top: 0;
  }
}