body .franchise__tag {
  display: block;
  &-icon, &-name {
    display: inline-block;
  }
  &-icon {
    padding: 6px 12px;
    background-color: $fth-red;
    img {
      width: 13px;
    }
  }
  &-name {
    font-family: $freight-text-pro-bold-italic;
    line-height: normal;
    text-align: center;
  }
  &__article, &__tag-banner {
    margin-top: 20px;
    .franchise__tag {
      &-info {
        display: table;
        border: 1px solid $fth-red;
        margin: 0 auto;
        &:not(.on-tag-page) {
          @include button-hover-solid($fth-red);
          &:hover {
            color: white;
            .franchise__tag-name {
              color: white;
            }
          }
        }
      }
      &-name {
        padding: 10px 22px;
        margin-left: -5px;
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
  &__tag-banner {
    .franchise__tag {
      &-info {
        background-color: $white;
      }
    }
  }
  &__module {
    &-border-top {
      border-top: 2px solid $fth-red;
      display: flex;
      justify-content: center;
    }
    .franchise__tag {
      &-name {
        padding: 5px 18px 4px;
        background-color: $fth-red;
        color: $white;
        font-size: 14px;
        @include button-hover($fth-red);
      }
    }
  }
}
.module__franchise_tag_banner{
  overflow: auto;
}