// .widget {
//
//   h3, strong {
//     display: block;
//     border-bottom: 1px solid #f1f1f2;
//     font-size: 20px;
//     line-height: 24px;
//     margin-bottom: 20px;
//     padding-bottom: 5px;
//     text-align: left;
//     font-family: $secondary-font-family;
//     text-transform: capitalize;
//
//     &::after {
//       display: none;
//     }
// 	}
//
//   h4 {
//     font: 17px / 24px $secondary-font-family;
//     font-weight: 400;
// 	}
//
//   li {
//     list-style-type: none;
// 	}
// }

.wpp-post {
  margin-bottom: 20px;

  .thumb {
    float: left;
    width: 51%;
	}

  .info {
    float: right;
    width: 45%;
	}

  a {
    color: $black;

    &:hover {
      color: $primary-color;
		}
	}
}

.sidebar-ad {
	text-align: center;
	margin: 0;
}

#gform_widget-2 {
	padding: 25px 0 15px;
	margin: 0 auto 30px;
	max-width: 100%;
	h3 {
		border-bottom: none;
		font: 24px/30px $secondary-font-family;
		text-align: center;
		padding: 40px 0 15px;
		&:after {
			background: #b7b9bb;
	    bottom: 0;
	    content: '';
	    display: block;
	    height: 1px;
	    left: 50%;
	    margin-left: -55px;
	    position: absolute;
	    width: 110px;
		}
		&:before {
			content: '';
	    display: inline-block;
	    background: url("images/fatherly-sprite@2x.png") no-repeat -144px 0;
	    background-size: 240px;
	    width: 38px;
	    height: 26px;
	    position: absolute;
	    top: 5px;
	    left: 50%;
	    margin-left: -23px;
		}
	}
	text-align: center;
	background: $light-gray;
	form {
		margin: 15px 25px;
		text-align: center;
	}
	.gform_wrapper span.gform_description {
		font: 13px/21px $primary-font-family;
		display: block;
	}
	label {
		display: none;
	}
	p {
		font-weight: normal;
	}
	input[type=text] {
		width: 94%;
		font-size: 14px;
		text-align: center;
		font-family: $primary-font-family;
		padding: 8px 3%;
		border: none;
		color: $medium-gray;
	}
	#gform_submit_button_1 {
		font-size: 14px;
		text-align: center;
	}
	.btn {
		margin: 0 auto;
	}
	.validation_error {
		display: none;
	}
	.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
		background: none !important;
		border: none !important;
	}

	.gform_wrapper .gfield_description+.gform_wrapper .gfield_description.validation_message, .gform_wrapper .ginput_container+.gfield_description.validation_message {
		font-weight: 400 !important;
		font-size: 12px !important;
		margin: 0 !important;
	}
	.gform_wrapper .gform_footer {
		padding-top: 15px !important;
		margin: 0 !important;
	}
	#gform_confirmation_message_1 {
		font-size: 15px;
		margin: 0 0 15px;
		font-weight: 500;
	}
	#gform_confirmation_message_2 {
		font-size: 15px;
		margin: 0 0 15px;
		font-weight: 500;
	}	
}
