.home-page-module {
  .tag-banner {
    background-size: cover;
    background-repeat: no-repeat;
    height: 277px;
    margin-top: -57px;
    display: block;
    position: relative;
    @media only screen and (max-width: 799px) {
      margin-top: -63px;
    }
    &-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $black-transparent;
      z-index: 0;
    }
    &-title {
      position: relative;
      z-index: 1;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      .tag-banner-description {
        max-width: 55%;
        @media only screen and (max-width: $break-small) {
          max-width: 80%;
        }
        p {
          color: $white;
          @include freight(18px);
          line-height: 1.5;
          text-align: center;
          margin: 20px 0px 26px;

        }
      }
    }
    &-title.no-desc{
      justify-content: center;
    }
  }
}