.text-overlay {
  position: relative;
  max-width: 1000px;
  width: 100%;

  &-text {
    @include marr-sans(70px);
    position: absolute;
    top: calc(50% + 60px);
    left: calc(50% - 250px);
    max-width: 500px;
    width: 100%;
    text-align: center;
    color: $white;

    @media (max-width: $break-1000) {
      top: calc(50% + 45px);
      font-size: 50px;
      line-height: 50px;
    }

    @media (max-width: $break-small) {
      left: unset;
      margin-left: 20px;
      top: calc(50% + 25px);
      max-width: calc(100% - 40px);
      font-size: 40px;
      line-height: 1;
    }

    @media (max-width: 400px) {
      top: calc(50% + 20px);
      font-size: 30px;
    }
  }
}